:root {
  --image-background: no;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-main-background-blur);
  backdrop-filter: var(--filter-background-blur, none);
}

#body-login .wrapper,
#body-login footer {
  z-index: 1;
  color: var(--color-main-text);
}

#body-public.layout-base
  div#content.app-public
  div.body-login-container.update {
  width: auto !important;
  height: fit-content !important;
  margin: 7% auto 0 auto;
}

header#header {
  height: var(--header-height) !important;
  background-color: var(
    --color-background-plain,
    var(--color-main-background)
  ) !important;
}

#header .logo {
  background-image: url("../img/logo.svg");
}

#body-login #header .logo {
  filter: drop-shadow(0 0 5px var(--color-box-shadow));
}

#content,
#content-vue {
  width: 100% !important;
  height: calc(
    100% - env(safe-area-inset-bottom) - var(--header-height)
  ) !important;
  border-radius: 0px !important;
  margin: var(--header-height) 0 0 0 !important;
}

#app-navigation-vue,
#app-navigation,
#app-navigation:not(.vue) {
  background: transparent;
  backdrop-filter: unset;
  border-radius: 0px !important;
}

@media only screen and (max-width: 1024px) {
  #app-navigation-vue,
  #app-navigation,
  #app-navigation:not(.vue) {
    background: var(--color-main-background);
    box-shadow: -5px 0px 15px 0px black;
  }
  .app-navigation--close {
    box-shadow: none !important;
  }
}

/* fulltextsearch settings page fixes  */
select#fts_platforms,
select#files_external,
input#elasticsearch_host,
input#elasticsearch_index,
input#analyzer_tokenizer,
input#files_size {
  background: var(--color-main-background) !important;
  color: var(--color-text-lighter) !important;
}

/* app-dashboard header text color fix */
div#app-dashboard > h2 {
  color: var(--color-main-text) !important;
}

/* mail app */
div.splitpanes__pane:nth-child(1) {
  min-width: 400px !important;
}

.list-item .list-item-content__details {
  justify-content: center !important;
  align-items: center !important;
}
